<form>
    <fieldset>
        <legend>Register</legend>
        <div>
            <label for="txtUserName" class="form-label mt-4">User Name:</label>
            <input type="email" class="form-control" id="txtUserName" placeholder="Enter email">
        </div>
        <div>
            <label for="txtPassword" class="form-label mt-4">
                Password:
            </label>
            <input type="password" class="form-control" id="txtPassword" placeholder="Enter email">
        </div>
        <div style="text-align: center;">
            <input type="submit" value="Register" class="btn btn-primary">
        </div>
    </fieldset>
</form>