<ng-template #fetchTemplate>
    <span>Loading...</span>
</ng-template>
<ng-template #errorTemplate>
    <span>{{errorInfo}}</span>
</ng-template>
<ng-template #norecordTemplate>
    <span>No Post found...</span>
</ng-template>
<div *ngIf="fetchComplete;else fetchTemplate">
    <div *ngIf="errorInfo==='';else errorTemplate">
        <form *ngIf="post;else norecordTemplate">
            <div>
                <label for="txtId">Id: &nbsp;</label>
                <input type="text" readonly id="txtId" [value]="post.id">
            </div>
            <div>
                <label for="txtUserId">User Id: &nbsp;</label>
                <input type="text" id="txtUserId" [value]="post.userId">
            </div>
            <div>
                <label for="txtTitle">Title: &nbsp;</label>
                <input type="text" id="txtTitle" [value]="post.title">
            </div>
            <div>
                <label for="txtBody">Body: &nbsp;</label>
                <textarea id="txtBody" cols="50" rows="10" [value]="post.body">
                </textarea>
            </div>
            <div>
                <button type="submit">Update</button>
            </div>
        </form>
    </div>
</div>