<ng-template #fetchTemplate>
    <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</ng-template>
<ng-template #errorTemplate>
    <span>{{errorInfo}}</span>
</ng-template>
<ng-template #norecordTemplate>
    <span>
        No records found
    </span>
</ng-template>

<div *ngIf="fetchComplete; else fetchTemplate">
    <div *ngIf="errorInfo==='';else errorTemplate">
        <div *ngIf="products && products.length>0; else norecordTemplate">
            <h2>List of Products</h2>
            <br>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Rating</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody class="table-dark">
                    <tr *ngFor="let p of ((products|sortproduct:choice)|filterproduct:filterText)">
                        <td [routerLink]="['/products/view/',p.productId]">
                            <img class="img-style" [src]="p.imageUrl" alt="NA" [title]="p.productName">
                        </td>
                        <td>{{p.productName|uppercase}}</td>
                        <td>{{p.price|currency:'INR'}}</td>
                        <td>{{p.starRating}}</td>
                        <td>
                            <button class="btn btn-danger btn-style" type="button">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>